<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Reply to #{{ message.id }}</h2>

    <div id="message{{ message.id }}">
        <p>#{{ message.id }}. Pub on {{ message.pub_date }}</p>
        {% if message.reply_to %}
            <p><a href="#message{{ message.reply_to.id }}">&gt;&gt;&gt; {{ message.reply_to.id }} </a></p>
        {% endif %}
        <p>{{ message.text }}</p>
        <form action="/chan/response/{{ message.id }} " method="post">
            {% csrf_token %}
            <textarea name="response"></textarea><br>
        <input type="submit" value="Ответить">
        </form>
        <hr/>
    </div>
</body>
</html>